/*=====================Pages Category=====================

1- Environment Week
2- World Environment Day 2024
3- investment Opportunities
4- management Of Apiaries

=====================Pages Category=====================*/
/* 1- Environment Week */
.e-week-about,
.e-week-goals,
.e-week-parteners,
.ew-contact-us {
  padding-block: 4rem;
}

.e-week-about-ul {
  list-style: none;
  padding: 0;
  margin-bottom: 4rem;
}

.e-week-about-ul li:nth-child(2) {
  margin-top: 5rem;
}

.e-week-about-ul h2 {
  font-size: 31px;
  margin-inline-start: 0.8rem;
  color: #0F1A2E;
}

.e-week-about-ul p {
  color: #3A383D;
  margin-top: 1rem;
  font-weight: lighter !important;
  font-size: 23px;
}

.e-week-goals {
  background-image: url("/ar/Ministry/Agencies/EnvironmentAgency/Topics/PublishingImages/EnvironmentWeek/e-week/ew-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  /* min-height: 568px; */
}

.e-week-goals_title {
  padding-top: 4rem;
  display: flex;
  justify-content: center;
}

.e-week-goals_title h3 {
  background: #579059;
  padding: 1rem 2rem;
  color: #fff;
}

.e-week-goal_content {
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ew-goal_icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  transform: rotate3d(0, 0, 1, 0.001deg);
  -webkit-transform: rotate3d(0, 0, 1, 0.001deg);
  -moz-transform: rotate3d(0, 0, 1, 0.001deg);
  -ms-transform: rotate3d(0, 0, 1, 0.001deg);
  -o-transform: rotate3d(0, 0, 1, 0.001deg);
}

.ew-goal_icon img {
  width: 50px;
  height: 50px;
}

.ew-goal_icon:hover::before,
.ew-goal_icon:hover:after {
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  width: 80px;
  height: 80px;
  clip: rect(0px, 75px, 150px, 0px);
  background-color: #579059;
  transform: rotate3d(0, 0, 1, 0deg);
  z-index: 2;
  animation: 0.5s spin2 linear 0.5s forwards;
  -webkit-animation: 0.5s spin2 linear 0.5s forwards;
}

.ew-goal_icon::after {
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  width: 80px;
  height: 80px;
  clip: rect(0px, 85px, 150px, 0px);
  background: white;
  z-index: -1;
  /* animation: 2s spin linear 2s forwards;
    -webkit-animation: 2s spin linear 2s forwards; */
}

.ew-goal_icon:hover::after {
  content: " ";
  background: #579059;
  z-index: 1;
  animation: 0.5s spin linear 0s forwards;
  -webkit-animation: 0.5s spin linear 0s forwards;
}

@keyframes spin {
  from {
    transform: rotate3d(0, 0, 1, 0deg);
  }
  to {
    transform: rotate3d(0, 0, 1, 180deg);
  }
}

@keyframes spin2 {
  from {
    background: #579059;
    transform: rotate3d(0, 0, 1, 180deg);
  }
  to {
    background: #579059;
    transform: rotate3d(0, 0, 1, 360deg);
  }
}

.ew-goal_icon:hover img {
  display: block;
  position: relative;
  z-index: 4;
  border: 5px solid #204534;
  filter: invert(1) brightness(4);
  /* width: 60px;
    height: 60px; */
  border-radius: 50%;
  -webkit-filter: invert(1) brightness(4);
}

.ew-goal_icon2 {
  width: 70px;
  height: 70px;
  /* border: 4px solid #414f2d; */
  border-radius: 50%;
  padding: 10px;
}

button.spin {
  border: 0;
  outline: 2px solid #fff;
  position: relative;
  background: none;
  cursor: none;
}

button.spin::before,
button.spin::after {
  box-sizing: inherit;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
}

.spin {
  height: 100px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ew_icon {
  background-color: #fff;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.spin::before,
.spin::after {
  top: 0;
  left: 0;
}

.spin::before {
  border: 2px solid transparent;
}

.spin:hover::before {
  border-top-color: #579059;
  border-right-color: #579059;
  border-bottom-color: #579059;
  transition: border-top-color 0.15s linear, border-right-color 0.15s linear 0.10s, border-bottom-color 0.15s linear 0.20s;
}

.spin::after {
  border: 0 solid transparent;
}

.spin:hover {
  outline: none;
}

.spin:hover .ew-goal_icon2 {
  filter: invert(1) brightness(4);
  -webkit-filter: invert(1) brightness(4);
}

.spin:hover .ew_icon {
  background-color: #579059;
}

.spin:hover::after {
  border-top: 2px solid #579059;
  border-left-width: 2px;
  border-right-width: 2px;
  transform: rotate(270deg);
  transition: transform 0.4s linear 0s, border-left-width 0s linear 0.35s;
}

.circle {
  border-radius: 100%;
  box-shadow: none;
}

.circle::before,
.circle::after {
  border-radius: 100%;
}

.ew-circle {
  position: absolute;
  width: 122%;
  height: 122%;
  left: -9px;
  top: -9px;
  border-radius: inherit;
  border: 2px solid #ffffff;
  transition: 0.5s border linear;
  -webkit-transition: 0.5s border linear;
  -moz-transition: 0.5s border linear;
  -ms-transition: 0.5s border linear;
  -o-transition: 0.5s border linear;
}

.ew-goal_icon svg {
  fill: #579059;
}

.ew-goal_text {
  font-size: 25px !important;
  color: #EDF8EA !important;
  padding-top: 2rem !important;
}

.ew-parteners-title {
  display: flex;
  align-items: center;
}

.ew-parteners-title h2 {
  font-size: 31px;
  color: #0F1A2E;
  margin-inline-start: 1rem;
  margin-bottom: 0;
}

.ew-parteners-title_details {
  margin-top: 4rem;
  color: #0F1A2E;
  text-align: center;
  font-size: 43px;
}

.ew-parteners-share {
  margin-block: 4rem;
  text-align: center;
  font-size: 31px;
  color: #0F1A2E;
}

.ew-parteners-content {
  box-shadow: 0;
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transition: 0.5s all ease-out;
  -webkit-transition: 0.5s all ease-out;
  -moz-transition: 0.5s all ease-out;
  -ms-transition: 0.5s all ease-out;
  -o-transition: 0.5s all ease-out;
}

.ew-parteners-content:hover {
  box-shadow: -8px 7px 10px 3px #0000005e;
  transform: scale(1.1);
  z-index: 2;
}

.ew-parteners-content:nth-child(odd) {
  background: #579059;
  padding: 1rem;
}

.ew-parteners-content:nth-child(even) .ew-parteners-txt {
  color: #3A383D !important;
}

.ew-parteners-content:nth-child(even) {
  background: #fff;
  padding: 1rem;
}

.ew-parteners-num {
  display: flex;
  padding: 1.5rem 1.2rem;
  background: #D2DEDC;
  border-radius: 50%;
  line-height: 0;
  color: #579059 !important;
  font-size: 25px;
  font-weight: bold;
}

.ew-parteners-txt {
  text-align: center !important;
  font-size: 17px !important;
  color: #fff !important;
  margin-block: 2.5rem !important;
}

.read-more {
  margin-top: 2rem;
  text-align: center;
  /* margin-bottom: 4rem; */
}

a.read-more-btn {
  border: 1px solid #4E8844;
  font-size: 20px;
  color: #4E8844;
  border-radius: 50px;
  position: relative;
  width: 145px;
  display: inline-flex;
  height: 40px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.read-more-arrow {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  border-radius: inherit;
  top: 0;
  background: #4E8844;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transform: translateX(100%);
  opacity: 0;
  transition: 0.2s all ease-in-out;
  -webkit-transition: 0.2s all ease-in-out;
  -moz-transition: 0.2s all ease-in-out;
  -ms-transition: 0.2s all ease-in-out;
  -o-transition: 0.2s all ease-in-out;
}

.read-more-btn:hover {
  font-size: 20px;
  color: #4E8844;
}

.read-more-btn-txt {
  transition: 0.2s all ease-in-out;
  -webkit-transition: 0.2s all ease-in-out;
  -moz-transition: 0.2s all ease-in-out;
  -ms-transition: 0.2s all ease-in-out;
  -o-transition: 0.2s all ease-in-out;
  transform: translateX(0);
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
}

.read-more-btn:hover .read-more-btn-txt {
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
}

.read-more-btn:hover .read-more-arrow {
  opacity: 1;
  transform: translateX(0);
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
}

.e-week-gallery {
  background: #fff;
  padding-block: 4rem;
}

.e-week-gallery p {
  font-size: 1.5rem;
  line-height: 2;
  margin-block: 3rem 4rem;
}

.gallery-img {
  text-align: center;
  overflow: hidden;
  max-width: 580px;
  margin-inline: auto;
}

.gallery-img:hover img {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}

.gallery-img img {
  width: 100%;
  transition: 0.3s all ease-in-out;
  -webkit-transition: 0.3s all ease-in-out;
  -moz-transition: 0.3s all ease-in-out;
  -ms-transition: 0.3s all ease-in-out;
  -o-transition: 0.3s all ease-in-out;
}

.e-week-files-sec {
  padding-block: 4rem;
}

.files-card {
  padding: 2rem;
  background: #fff;
  overflow: hidden;
}

.files-card h3 {
  font-size: 1.3rem;
  text-align: center;
  transform: translateY(20px);
  margin-top: 2rem;
  transition: 0.3s transform ease-in-out;
  -webkit-transition: 0.3s transform ease-in-out;
  -moz-transition: 0.3s transform ease-in-out;
  -ms-transition: 0.3s transform ease-in-out;
  -o-transition: 0.3s transform ease-in-out;
}

.download-now {
  margin-top: 2rem;
  text-align: center;
  transform: translateY(5rem);
  transition: 0.3s transform ease-in-out;
  -webkit-transition: 0.3s transform ease-in-out;
  -moz-transition: 0.3s transform ease-in-out;
  -ms-transition: 0.3s transform ease-in-out;
  -o-transition: 0.3s transform ease-in-out;
  -webkit-transform: translateY(5rem);
  -moz-transform: translateY(5rem);
  -ms-transform: translateY(5rem);
  -o-transform: translateY(5rem);
}

.download-now a {
  color: #1a2538 !important;
  font-size: 1.3rem;
}

.download-now a:hover {
  color: #1a2538;
  font-size: 1.3rem;
}

.download-now a img {
  margin-right: 1rem;
}

.files-card:hover .gallery-img img {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}

.files-card:hover h3 {
  transform: translateY(0px);
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
}

.files-card:hover .download-now {
  transform: translateY(0rem);
  -webkit-transform: translateY(0rem);
  -moz-transform: translateY(0rem);
  -ms-transform: translateY(0rem);
  -o-transform: translateY(0rem);
}

/* end e-week files section  */
.ew-contact-us {
  background-image: url("/ar/Ministry/Agencies/EnvironmentAgency/Topics/PublishingImages/EnvironmentWeek/e-week/contact.png");
  min-height: 464px;
  display: flex;
  align-items: center;
}

.ew-container {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.ew-contact-head {
  display: flex;
  color: #fff;
  font-size: 47px;
}

.ew-contact-line {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 80%;
}

.ew-contact-line svg {
  width: 100%;
}

.ew-contact-email {
  display: flex;
  align-items: center;
}

.ew-contact-email a {
  font-size: 24px;
  margin-bottom: 0;
  color: #fff !important;
  margin-inline-end: 15px;
}

.ew-contact-email svg .cls-1,
.ew-contact-email svg .cls-2 {
  fill: transparent;
  transition: 0.2s all ease-in-out;
  -webkit-transition: 0.2s all ease-in-out;
  -moz-transition: 0.2s all ease-in-out;
  -ms-transition: 0.2s all ease-in-out;
  -o-transition: 0.2s all ease-in-out;
}

.ew-contact-email:hover svg .cls-1 {
  fill: #fff;
}

.ew-contact-email:hover svg .cls-2 {
  fill: #579059;
}

.ew-contact-email a:hover {
  font-size: 24px;
  margin-bottom: 0;
  color: #fff;
  margin-inline-end: 15px;
}

/* contact section end */
/* how to share page start  */
.how-share-ul {
  list-style: none;
}

.how-share-li {
  margin-top: 3rem !important;
}

.how-share-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
  min-height: 600px;
  max-height: 600px;
  box-shadow: -1px 4px 12px 5px #0003;
  transition: 0.5s all ease-in-out;
  -webkit-transition: 0.5s all ease-in-out;
  -moz-transition: 0.5s all ease-in-out;
  -ms-transition: 0.5s all ease-in-out;
  -o-transition: 0.5s all ease-in-out;
}

.how-share-li:nth-child(odd) .how-share-content {
  border-top: 10px solid #4E8844;
}

.how-share-li:nth-child(odd):hover .how-share-content {
  background-color: #579059;
}

.how-share-li:hover .how-share-p {
  color: #fff;
}

.how-share-li:hover .how-to-share-img::after {
  background: #4f7751;
  opacity: 100%;
}

.how-share-li:hover .how-to-share-img img {
  filter: invert(1) brightness(4);
}

.how-share-li:nth-child(odd):hover .how-share-content svg circle {
  fill: #4f7851 !important;
  opacity: 1;
}

.how-share-li:hover .how-share-content svg g path,
.how-share-li:hover .how-share-content svg g line {
  stroke: #fff !important;
  opacity: 1;
}

.how-share-li:nth-child(even):hover .how-share-content svg circle {
  fill: #527858 !important;
  opacity: 1;
}

.how-to-share-img {
  position: relative;
  z-index: 1;
}

.how-to-share-img::after {
  content: "";
  position: absolute;
  top: 16px;
  left: -12px;
  background: #4E8844;
  width: 65px;
  height: 65px;
  opacity: 28%;
  z-index: 0;
  border-radius: 50%;
}

.how-share-li:nth-child(odd):hover .how-share-content {
  background-color: #579059;
}

.how-share-li .how-share-content.left-corner {
  border-end-start-radius: 0px;
  border-end-end-radius: 45px;
}

.how-share-li .how-share-content.right-corner {
  border-end-end-radius: 0px;
  border-end-start-radius: 45px;
}

.how-share-li:nth-child(even) .how-share-content {
  border-top: 10px solid #0F1A2E;
}

.how-share-li:nth-child(even):hover .how-share-content {
  background-color: #13233f;
}

.how-share-num {
  display: flex;
  padding: 1.3rem 1rem;
  background: #D2DEDC;
  border-radius: 50%;
  line-height: 0;
  color: #579059;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 1rem;
}

.how-share-p {
  font-size: 1.3rem;
  line-height: 1.5;
  color: #3A383D;
  /* margin-block: 2rem 4rem; */
}

/* how to share page end  */
/* e-week-files section start  */
.ew-files-card {
  position: relative;
  min-height: 35rem;
  max-height: 35rem;
  overflow: hidden;
  margin-bottom: 3rem;
}

.ew-files-card:hover .files-content {
  height: 100%;
}

.ew-files-card:hover .files-content a span {
  margin-left: 20px;
}

.ew-card-img {
  width: 100%;
  height: 100%;
}

.files-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #ffffff;
  padding: 4rem 1rem;
  position: absolute;
  bottom: 2rem;
  left: 0;
  width: 100%;
  height: 45%;
  transition: 0.5s all ease-in-out;
  -webkit-transition: 0.5s all ease-in-out;
  -moz-transition: 0.5s all ease-in-out;
  -ms-transition: 0.5s all ease-in-out;
  -o-transition: 0.5s all ease-in-out;
}

.files-content h2 {
  font-size: 21px;
  text-align: center;
  margin-bottom: 2rem;
  color: #0F1A2E;
}

.files-content a span {
  font-size: 20px;
  color: #0F1A2E;
  margin-inline-end: 10px;
  font-weight: 500;
  transition: 0.5s all ease-in-out;
  -webkit-transition: 0.5s all ease-in-out;
  -moz-transition: 0.5s all ease-in-out;
  -ms-transition: 0.5s all ease-in-out;
  -o-transition: 0.5s all ease-in-out;
}

/*start contact section*/
.contact-section {
  padding-block: 5rem;
}

.contact-container {
  padding: 3rem 6rem;
  background: #fff;
  border-radius: 15px;
  position: relative;
}

.contact-container::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50px;
  width: 7px;
  height: 120px;
  background: #239157;
  border-radius: 50px 0 0 50px;
}

.contact-container p,
.contact-container a {
  color: #1d3461;
  font-size: 1.2rem;
  line-height: 1.5;
  font-weight: bold;
}

.contact-container a:hover {
  color: #1d3461;
  font-size: 1.2rem;
  line-height: 1.5;
}

.contact-info-link a {
  transition: all 0.5s ease-in-out;
}

.contact-info-link a:hover {
  transform: translateX(-15px);
  -webkit-transform: translateX(-15px);
  -moz-transform: translateX(-15px);
  -ms-transform: translateX(-15px);
  -o-transform: translateX(-15px);
  transition: all 0.5s ease-in-out;
}

.contact-info {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.contact-info a {
  transition: 0.3s transform ease-in-out;
  -webkit-transition: 0.3s transform ease-in-out;
  -moz-transition: 0.3s transform ease-in-out;
  -ms-transition: 0.3s transform ease-in-out;
  -o-transition: 0.3s transform ease-in-out;
}

.contact-info-link a {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 10px;
}

.bordered-end {
  border-block-end: 1px solid #d1d1d1;
  padding-bottom: 30px;
}

.con-icon {
  border: 1px solid #5c9664;
  border-radius: 50px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-inline: 10px;
}

.con-icon svg path {
  fill: #5c9664;
}

.con-icon svg {
  width: 24px;
  height: 24px;
}

.contact-info-link a:hover .con-icon {
  background-color: #5c9664;
}

.contact-info-link a:hover .con-icon img {
  filter: invert(1) brightness(4);
}

.contact-info-link a:hover .con-icon svg path {
  fill: #ffffff;
}

.contact-row {
  margin-top: 20px !important;
}

html[dir="ltr"] .ew-goal_text {
  text-align: center;
}

html[dir="ltr"] .read-more-arrow svg {
  transform: rotate(180deg);
}

html[dir="ltr"] .download-now a img {
  margin-inline-start: 1rem;
  transform: rotate(180deg);
}

html[dir="ltr"] .files-content a img {
  transform: rotate(180deg);
}

html[dir="ltr"] .files-content h3 {
  font-size: 21px;
  text-align: center;
  margin-bottom: 2rem;
  color: #0F1A2E;
}

/* end files page  */
/* start responsive  */
@media (max-width: 1400px) {
  .ew-files-card {
    min-height: 30rem;
    max-height: 30rem;
  }
}

@media (max-width: 1200px) {
  .ew-files-card {
    min-height: 26rem;
    max-height: 26rem;
  }
}

@media (max-width: 992px) {
  .how-share-li:hover .how-share-content {
    background-color: transparent !important;
  }
  .how-share-li:hover .how-share-p {
    color: inherit;
  }
  .how-share-li:hover .how-to-share-img img {
    filter: none;
  }
  .how-share-li:hover .how-to-share-img::after {
    opacity: 28%;
  }
  .how-share-content {
    min-height: 400px;
    height: 100%;
    max-height: max-content;
  }
  .how-share-li {
    margin-top: 1rem !important;
  }
  .files-content h2,
  .files-content a span {
    font-size: 18px;
  }
  .files-content h2 {
    margin-bottom: 1rem;
  }
  .ew-files-card {
    min-height: 20rem;
    max-height: 20rem;
  }
  .how-share-li .how-share-content.right-corner {
    border-end-end-radius: 0px;
    border-end-start-radius: 0px;
  }
  .how-share-li:nth-child(odd) .how-share-content {
    border-end-end-radius: 0px;
    border-end-start-radius: 45px;
  }
  .how-share-li:nth-child(even) .how-share-content {
    border-end-end-radius: 45px;
    border-end-start-radius: 0px;
  }
  .contact-container .bordered-end {
    border: none;
    padding: 0;
  }
  .contact-info-link:hover a {
    transform: none;
  }
  .contact-info-link a {
    display: flex;
    justify-content: center;
  }
  .contact-info {
    margin-bottom: 10px !important;
  }
  .contact-info br {
    display: none;
  }
}

@media (max-width: 768px) {
  .ew-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .ew-container h4 {
    margin: 0;
  }
  .ew-contact-line {
    display: none;
  }
  .ms-rtestate-field h2::before {
    top: 3px;
  }
  .ew-contact-email {
    width: 100%;
    justify-content: center;
    flex-direction: row-reverse;
  }
  .ew-contact-email a {
    margin-inline-end: 0px;
    margin-inline-start: 15px;
  }
  .ew-contact-head {
    font-size: 35px;
  }
  .ew-parteners-title h2,
  .ew-parteners-share {
    font-size: 22px;
  }
  .ew-parteners-txt {
    margin-block: 1.5rem !important;
  }
  .ew-parteners-title_details {
    font-size: 20px;
    margin-top: 2rem;
  }
  .e-week-gallery p {
    font-size: 1.2rem;
    line-height: 1.8;
    margin-block: 1rem 3rem;
  }
  .ew-files-card {
    min-height: 32rem;
    max-height: 32rem;
  }
  .ew-files-card:hover .files-content {
    height: 35%;
  }
  .ew-files-card:hover .files-content a span {
    margin-left: 20px;
  }
  .how-share-content {
    min-height: 550px;
    max-height: 550px;
  }
  .how-share-content {
    min-height: 300px;
    max-height: max-content;
  }
  .how-share-ul {
    padding: 0;
  }
  .how-share-p {
    font-size: 1.2rem !important;
  }
  .e-week-gallery .d-flex {
    flex-direction: column;
    align-items: flex-start;
  }
  .files-card {
    padding: 1rem;
  }
  .e-week-about,
  .e-week-goals,
  .e-week-parteners,
  .ew-contact-us {
    padding-block: 2rem;
  }
  .e-week-goals_title {
    padding-top: 0;
  }
  .e-week-goal_content {
    padding: 0;
  }
  .spin {
    height: 85px;
    width: 60px;
  }
  button.spin::before,
  button.spin::after {
    box-sizing: inherit;
    content: '';
    position: absolute;
    width: 60px;
    height: 60px;
  }
  .ew-goal_text {
    font-size: 20px !important;
    color: #EDF8EA !important;
    padding-top: 1rem !important;
    text-align: center;
  }
  .contact-container {
    padding: 2rem;
  }
  .contact-row {
    align-items: flex-start !important;
  }
  .contact-section {
    padding-block: 0;
    margin-top: 50px;
  }
  .contact-row p {
    font-size: 1rem;
    color: #576b7d;
  }
  .contact-info-link a {
    font-size: 1rem !important;
    flex-direction: row-reverse;
    justify-content: flex-end;
    margin-top: 10px;
    margin-inline-start: -10px;
  }
  .con-icon {
    width: 30px;
    height: 30px;
  }
  .con-icon img {
    width: 50%;
  }
  .con-icon svg {
    width: 16px;
    height: 16px;
  }
  .contact-section h2.mb-5 {
    margin-bottom: 20px !important;
  }
}

@media (max-width: 575px) {
  .e-week-about-ul h2 {
    font-size: 25px;
  }
  .e-week-about-ul p {
    font-size: 20px;
  }
  .e-week-about-ul p {
    font-size: 18px;
    line-height: 1.8;
  }
  .ew-files-card {
    min-height: 25rem;
    max-height: 25rem;
  }
  .how-to-share-img {
    width: 50px;
    height: 50px;
  }
  .how-to-share-img::after {
    width: 45px;
    height: 45px;
  }
}

/* 2- World Environment Day 2024 */
.banner {
  min-height: 40rem;
  display: flex;
  align-items: center;
  position: relative;
}

picture {
  width: 100%;
  position: absolute;
  height: 100%;
  right: 0;
  top: 0;
  z-index: -1;
}

picture img {
  width: 100%;
  height: 100%;
}

.date-number {
  font-size: 10.5rem !important;
  font-weight: bold !important;
  background: linear-gradient(to bottom, #fff 5%, #54B253 95%) !important;
  background-clip: text !important;
  color: transparent !important;
  text-fill-color: white !important;
  padding: 10px !important;
  line-height: 1 !important;
}

.date-month {
  margin: 2.5rem 0;
}

.date-month h1 {
  font-size: 2.5rem;
  color: #fff;
  font-weight: bold;
  margin-bottom: 1rem;
}

.date-month p {
  font-size: 2.2rem;
  color: #fff;
}

.watch-video {
  font-size: 1.5rem;
  color: #fff;
  margin-block: auto;
}

.watch-video img {
  width: 2.5rem;
  background: black;
  border-radius: 50%;
  margin: 10px;
  transform: scale(1);
  animation: pulse-black 2s infinite;
}

.watch-video:hover {
  font-size: 1.5rem;
}

@keyframes pulse-black {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 #54B253;
  }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }
  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

/* end banner section  */
.about {
  padding-block: 5rem;
}

.about-content {
  max-width: 70%;
}

.about-content h2 {
  color: #305588;
  font-size: 2.3rem;
  margin-bottom: 2.5rem;
  font-weight: bold;
  word-wrap: break-word;
}

.about-content p {
  font-size: 1.1rem;
  color: #000;
  margin-bottom: 2.2rem;
}

.about-content a {
  color: #fff;
  background-color: #54B253;
  padding: 8px 40px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

.about-img {
  position: relative;
}

.about-img span {
  text-align: center;
  display: block;
  position: absolute;
  background: #71BF51;
  color: #fff;
  border-radius: 50%;
  width: 10rem;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-weight: bold;
  font-size: 1.3rem;
  position: absolute;
  bottom: -2.5rem;
}

.about-img span b {
  font-size: 2.5rem;
}

.about-hosting {
  padding-block: 5rem;
}

.about-hosting h3 {
  color: #003462;
  font-size: 2rem;
  margin-bottom: 0.8rem;
}

.about-hosting p {
  margin-bottom: 1.1rem;
  color: #000;
  font-size: 1.1rem;
  line-height: 2;
}

/* end about section  */
.env-hosting {
  padding-top: 5rem;
  background-image: url("/ar/Ministry/Agencies/EnvironmentAgency/Topics/PublishingImages/WorldEnvironmentDay/home-bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 13rem;
  position: relative;
}

.env-hosting h3 {
  color: #003462;
  font-size: 2rem;
  margin-bottom: 0.8rem;
}

.env-hosting p {
  margin-bottom: 1.1rem;
  color: #000;
  font-size: 1.1rem;
}

.env-hosting p:last-child {
  color: #1D1D1B;
  font-weight: 500;
}

.env-hosting::after {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  width: 40rem;
  height: 31rem;
  background-image: url("/ar/PublishingImages/WorldEnvironmentDay/circle-blue.png");
  background-repeat: no-repeat;
  background-position: right bottom;
  z-index: 0;
}

.env-tags {
  display: flex;
  margin-top: 2rem;
}

.env-tags span {
  text-align: center;
  min-width: 12rem;
  background-color: #FBAE31;
  color: #fff;
  padding: 0.7rem 2.25rem;
  margin-inline-end: 8px;
  font-weight: 500;
  border-radius: 75px;
  -webkit-border-radius: 75px;
  -moz-border-radius: 75px;
  -ms-border-radius: 75px;
  -o-border-radius: 75px;
}

.registeration {
  position: relative;
  padding-bottom: 10rem;
}

.registeration-content {
  margin-top: -13rem !important;
}

.register-activities {
  color: #003462 !important;
  font-size: 1.3rem !important;
  font-weight: bold !important;
  text-align: center;
  padding-block: 1rem;
  background-color: #ffffff7f;
  margin-top: 3.8rem;
  margin-bottom: 2rem;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.registeration-box {
  padding: 1.5rem;
  background: #003462;
  border-radius: 8px;
  min-height: 25rem;
  max-height: 25rem;
  overflow: auto;
  margin-bottom: 1rem;
}

.registeration-box p {
  margin-top: 2rem;
  color: #fff;
  font-size: 1.1rem;
}

.registeration-box.green {
  background-color: #71BF51;
}

.registeration-box.light-blue {
  background-color: #305588;
}

.registeration-box img {
  /* transform: scale(1.2); */
  transition: 0.5s transform ease-in-out;
}

.registeration-box:hover img {
  transform: scale(1.2);
  transition: 0.5s transform ease-in-out;
}

.divider-img {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

/* end hosting section  */
.main-messeges {
  padding-block: 5rem;
  background-image: url("/ar/PublishingImages/WorldEnvironmentDay/main-messege-bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.messege-heading p {
  color: #305588;
  margin-bottom: 0.5rem;
}

.messege-heading h3 {
  color: #305588;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 4rem;
}

.messege-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 11px;
  grid-row-gap: 9px;
}

.messege-container img {
  width: 100%;
  height: 100%;
}

.messege {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
}

.messege p {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  color: #fff;
  font-weight: bold;
  text-align: left;
  font-size: 1.3rem;
}

.messege img {
  transform: scale(1);
  transition: 0.5s transform ease-in-out;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  -webkit-transition: 0.5s transform ease-in-out;
  -moz-transition: 0.5s transform ease-in-out;
  -ms-transition: 0.5s transform ease-in-out;
  -o-transition: 0.5s transform ease-in-out;
}

.messege:hover img {
  transition: 0.5s transform ease-in-out;
  transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  -webkit-transition: 0.5s transform ease-in-out;
  -moz-transition: 0.5s transform ease-in-out;
  -ms-transition: 0.5s transform ease-in-out;
  -o-transition: 0.5s transform ease-in-out;
}

.messege1 {
  grid-area: 1 / 1 / 2 / 2;
}

.messege2 {
  grid-area: 2 / 1 / 3 / 2;
}

.messege3 {
  grid-area: 1 / 2 / 3 / 4;
}

.messege3 p {
  left: auto;
  right: 1rem;
  font-size: 1.8rem;
}

.messege4 {
  grid-area: 1 / 4 / 2 / 5;
}

.messege5 {
  grid-area: 2 / 4 / 3 / 5;
}

/* end messege section  */
.facts {
  padding-block: 5rem;
  position: relative;
}

.facts::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 40rem;
  z-index: -1;
  height: 31rem;
  background-image: url("/ar/PublishingImages/WorldEnvironmentDay/circle-green.png");
  background-repeat: no-repeat;
  background-position: left bottom;
}

.facts-heading {
  color: #305588;
  font-size: 2rem;
  margin-bottom: 2.5rem;
}

.fact-card {
  padding: 1.5rem 0.8rem;
  border: 1px solid rgba(0, 52, 98, 0.5);
  border-radius: 8px;
}

.fact-card a:first-child {
  color: #1D1D1B;
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: underline;
  display: block;
  margin-bottom: 0.5rem;
}

.fact-card a:last-child {
  color: #006B36;
}

.how-to-join {
  margin-top: 2rem;
  background-image: linear-gradient(270deg, #006B36, #54B253);
  padding: 2.5rem 5rem;
  border-radius: 8px;
  position: relative;
}

.how-to-join::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-image: url("/ar/PublishingImages/WorldEnvironmentDay/effect.png");
  background-position: left center;
  background-size: cover;
  background-repeat: no-repeat;
}

.join-heading {
  margin-right: 1rem;
  color: #fff;
}

.join-heading h4 {
  font-size: 1.5rem;
  color: #ffffff;
}

.join-heading p {
  font-size: 1.1rem;
  color: #fff;
  font-weight: bold;
  margin-bottom: 0;
}

.btn-join {
  background-color: #003462;
  color: #fff;
  padding: 0.5rem 3rem;
  font-size: 1.2rem;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

.btn-join:hover {
  font-size: 1.2rem;
}

.z-index-1 {
  z-index: 1;
}

/* resposive  */
@media (max-width: 1024px) {
  .banner {
    min-height: 30rem;
  }
  .about-content {
    max-width: 100%;
  }
  .env-tags span {
    flex: 1 1 45%;
    padding: 0.7rem 1.25rem;
    line-height: 1.2;
    display: flex;
    align-items: center;
    align-items: center;
    min-width: 7rem;
  }
  .registeration-box {
    padding: 1rem;
    min-height: 26rem;
    max-height: 28rem;
    word-wrap: break-word;
    margin-bottom: 1rem;
  }
  .registeration-box img {
    width: 2rem;
  }
  .registeration-box p {
    margin-block: 2rem;
    font-size: 1rem;
    margin-bottom: 0;
    line-height: 1.8;
  }
  .messege p {
    font-size: 1rem;
  }
  .messege.messege3 p {
    font-size: 1.4rem;
  }
  .how-to-join {
    padding: 1.5rem 2rem;
  }
}

@media (max-width: 550px) {
  .date-month p {
    font-size: 1.5rem;
    color: #fff;
  }
  .about-img {
    margin-top: 2rem;
  }
  .about-img img {
    display: block;
    margin-inline: auto;
  }
  .env-hosting h3 {
    font-size: 1.5rem;
    line-height: 1.5;
  }
  .register {
    margin-bottom: 3rem;
  }
  .about-hosting {
    padding-bottom: 0;
  }
  .about-content h2 {
    font-size: 1.5rem;
    line-height: 1.5;
  }
  .env-hosting::after {
    width: 100%;
    height: 26rem;
  }
  .env-tags {
    flex-wrap: wrap;
    gap: 1rem;
  }
  .registeration-box {
    padding: 1rem;
    min-height: 16rem;
    max-height: 16rem;
  }
  .messege-container {
    grid-template-columns: repeat(2, 0.7fr);
    grid-template-rows: repeat(3, 0.7fr);
  }
  .messege1 {
    grid-area: 1 / 1 / 2 / 2;
  }
  .messege2 {
    grid-area: 1 / 2 / 2 / 3;
  }
  .messege3 {
    grid-area: 2 / 1 / 3 / 3;
  }
  .messege4 {
    grid-area: 3 / 1 / 4 / 2;
  }
  .messege5 {
    grid-area: 3 / 2 / 4 / 3;
  }
  .fact-card:first-child {
    margin-bottom: 15px;
  }
  .how-to-join::after {
    width: 100%;
  }
  .btn-join {
    margin-top: 1.5rem;
  }
}

/* investment Opportunities */
.invest-opportunities .invest-map {
  background-image: url("/ar/Ministry/Agencies/AgencyforEconomicAffairsandInvestment/Topics/PublishingImages/InvestmentOpportunities/investigate-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.invest-opportunities .invest-map .invest-team {
  padding-top: 6rem;
  padding-bottom: 1rem;
}

.invest-opportunities .invest-map .invest-team .team-header {
  font-size: 2rem;
  color: #005D45;
  margin-bottom: 2rem;
}

.invest-opportunities .invest-map .invest-team .team-paragraph {
  font-size: 1.2rem;
  color: #000;
}

.invest-opportunities .invest-map .invest-map-container {
  width: 100%;
}

.invest-opportunities .invest-map .invest-map-container .map-header {
  font-size: 2rem;
  text-align: center;
  color: #005D45;
  margin-bottom: 2rem;
}

.invest-opportunities .invest-map .invest-map-container .map {
  position: relative;
}

.invest-opportunities .invest-map .invest-map-container .map .card-title {
  color: #006B36;
  font-size: 1.5rem;
}

.invest-opportunities .invest-map .invest-map-container .map .card-title hr {
  margin-top: 15px;
  margin-bottom: 20px;
  border: 0;
  border-top: 2px solid #278C43;
}

.invest-opportunities .invest-map .invest-map-container .map .map-container {
  position: absolute;
  right: 1rem;
  top: 1rem;
  width: calc(100% - 2rem);
}

.invest-opportunities .invest-map .invest-map-container .map p {
  margin-bottom: 0;
  margin-bottom: 0;
  color: #278C43;
  font-size: 1rem;
}

.invest-opportunities .invest-map .invest-map-container .map p:nth-child(2) {
  font-weight: 600;
}

.invest-opportunities .invest-map .invest-map-container .map .card-area {
  background: #71bf5185;
  color: #278C43;
  padding: 0.5rem 1rem;
  border-radius: 50px;
  margin-right: auto;
}

.invest-opportunities .invest-map .invest-map-container .map .card-details p {
  color: #000;
}

.invest-opportunities .invest-map .invest-map-container .map .more-btn {
  color: #278C43;
  font-weight: bold;
  position: relative;
  margin-left: 2rem;
}

.invest-opportunities .invest-map .invest-map-container .map .more-btn::after {
  content: "";
  background: url(/ar/Ministry/Agencies/AgencyforEconomicAffairsandInvestment/Topics/PublishingImages/InvestmentOpportunities/left-arrow1.svg) no-repeat center;
  background-size: cover;
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  left: -2rem;
  top: -3px;
}

.invest-opportunities .invest-map .invest-map-container .map .map-cards {
  background: #fff;
  min-height: auto;
  max-height: 40rem;
  overflow: auto;
  padding: 2rem;
  width: 100%;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  position: relative;
}

.invest-opportunities .invest-map .invest-map-container .map .map-cards .close-btn {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.invest-opportunities .invest-map .invest-map-container .map .map-cards::-webkit-scrollbar {
  width: 17px;
  border: 6px solid #fff;
  background: #eee;
  border-radius: 8px;
}

.invest-opportunities .invest-map .invest-map-container .map .map-cards::-webkit-scrollbar-thumb {
  background-color: #003462;
  border: 6px solid transparent;
  border-radius: 8px;
  background-clip: padding-box;
  width: 10px;
}

.invest-opportunities .invest-map .invest-map-container .map-titles .tabs-box {
  display: flex;
  gap: 10px;
  list-style: none;
}

.invest-opportunities .invest-map .invest-map-container .map-titles .tabs-box li {
  flex: 1 0 30%;
}

.invest-opportunities .invest-map .invest-map-container .map-titles .tabs-box li .nav-link {
  font-size: 0.7rem;
  background: #fff;
  color: #000;
  width: 100%;
  height: 100%;
  padding: 0.3rem 1rem;
  border-radius: 50px;
  font-weight: 500;
  cursor: pointer;
  border: none;
}

.invest-opportunities .invest-map .invest-map-container .map-titles .tabs-box li .active {
  background: #63be6a;
  color: #fff;
}

.invest-opportunities .wrapper-investment {
  position: relative;
  display: flex;
  align-items: center;
}

.invest-opportunities .wrapper-investment .icon {
  width: 78px;
}

.invest-opportunities .icon img {
  width: 36px;
  height: 36px;
  cursor: pointer;
  line-height: 0;
  background: #fff;
  border-radius: 50%;
  box-shadow: 3px 7px 8px #0000003b;
  padding: 10px;
}

.invest-opportunities .icon:first-child img {
  margin-right: 15px;
  transform: rotate(180deg);
  box-shadow: -3px -7px 8px #0000003b;
}

.invest-opportunities .icon:last-child img {
  margin-left: 15px;
}

.invest-opportunities .wrapper-investment .tabs-box {
  display: flex;
  gap: 12px;
  flex-wrap: nowrap;
  list-style: none;
  overflow-x: hidden;
  scroll-behavior: smooth;
  width: 50rem;
}

.invest-opportunities .tabs-box.dragging {
  scroll-behavior: auto;
  cursor: grab;
}

.invest-opportunities .tabs-box.dragging .tab {
  user-select: none;
  pointer-events: none;
}

@keyframes stroke {
  0% {
    opacity: 0;
  }
  25%, 75% {
    opacity: 1;
  }
  95%, 100% {
    stroke-dashoffset: 6;
    opacity: 0;
  }
}

@media (max-width: 768px) {
  .invest-opportunities .invest-map .invest-map-container {
    margin-top: 3rem;
  }
  .invest-opportunities .invest-map .invest-map-container .map .map-cards {
    max-height: 30rem;
    margin-top: 2rem;
  }
  .invest-opportunities .invest-map .invest-map-container .map-titles {
    flex-wrap: wrap;
  }
}

/* management Of Apiaries */
.bee-sector .bee-about {
  padding-block-start: 8rem;
  background-image: url("/ar/Ministry/Agencies/AgencyofAgriculture/Topics/ManagementOfApiaries/PublishingImages/about-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 540px;
}

.bee-sector .bee-about h1 {
  color: #000000;
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.bee-sector .bee-about p {
  color: #3E3E3E;
  font-size: 1.4rem;
}

.bee-sector .swiper {
  width: 100%;
  height: 100%;
}

.bee-sector .swiper .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bee-sector .swiper .swiper-wrapper {
  margin-bottom: 3rem;
}

.bee-sector .swiper .swiper-pagination-bullet {
  height: 30px;
  width: 30px !important;
  border-radius: 5px;
  background: url("/ar/Ministry/Agencies/AgencyofAgriculture/Topics/ManagementOfApiaries/PublishingImages/empty-list-icon.svg");
  background-repeat: no-repeat;
  background-size: auto;
  opacity: 1;
}

.bee-sector .swiper .swiper-pagination-bullet-active {
  height: 30px;
  width: 30px !important;
  border-radius: 5px;
  background: url("/ar/Ministry/Agencies/AgencyofAgriculture/Topics/ManagementOfApiaries/PublishingImages/filled-list-icon.svg");
  background-repeat: no-repeat;
  background-size: auto;
}

.bee-sector .swiper .card-products {
  position: relative;
}

.bee-sector .swiper .card-products img {
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

.bee-sector .swiper .card-products .products-name {
  position: absolute;
  bottom: 1rem;
  color: #fff;
  right: 2rem;
  font-size: 1.5rem;
}

.bee-sector .bee-benifits {
  padding-block: 3rem;
}

.bee-sector .bee-benifits .bl-2 {
  border-left: 3px solid #CFCFCF;
}

.bee-sector .bee-benifits h2 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  color: #005D45;
  text-align: center;
}

.bee-sector .bee-benifits .chart-card-container {
  display: flex;
  flex-wrap: wrap;
}

.bee-sector .bee-benifits .chart-card {
  width: 50%;
  display: flex;
  min-height: 18rem;
  background-image: url("/ar/Ministry/Agencies/AgencyofAgriculture/Topics/ManagementOfApiaries/PublishingImages/charts-yellow.svg");
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.bee-sector .bee-benifits .chart-card h3 {
  font-size: 2rem;
  color: #005D45;
  font-weight: bold;
}

.bee-sector .bee-benifits .chart-card p {
  font-size: 1.5rem;
  color: #000;
  margin: 0;
  font-weight: bold;
}

.bee-sector .bee-benifits .chart-card.card-green {
  background-image: url("/ar/Ministry/Agencies/AgencyofAgriculture/Topics/ManagementOfApiaries/PublishingImages/charts-green.svg");
  margin-inline: auto;
  margin-top: -6rem;
}

.bee-sector .bee-benifits .chart-card.card-green h3 {
  color: #EACC78;
  font-weight: bold;
}

.bee-sector .bee-benifits .chart-card.card-green p {
  color: #fff;
  font-weight: bold;
}

.bee-sector .bee-benifits .bee-list {
  color: #3E3E3E;
  font-size: 1.4rem;
  font-family: "LinaSans-medium";
  margin-top: 4rem;
  list-style: none;
  line-height: 2.5;
}

.bee-sector .bee-benifits .bee-list li {
  line-height: 2.5;
  font-size: 1.4rem;
  position: relative;
}

.bee-sector .bee-benifits .bee-list li::after {
  content: "";
  position: absolute;
  right: -21px;
  top: 22px;
  background-image: url("/ar/Ministry/Agencies/AgencyofAgriculture/Topics/ManagementOfApiaries/PublishingImages/list-icon.svg");
  width: 15px;
  height: 18px;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 1200px) {
  .bee-sector .bee-benifits .chart-card-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .bee-sector .bee-benifits .chart-card {
    width: 70%;
  }
  .bee-sector .bee-benifits .chart-card.card-green {
    margin-top: 0;
  }
}

@media (max-width: 992px) {
  .bee-sector .bee-benifits .chart-card {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .bee-sector .bee-benifits .chart-card {
    width: 90%;
  }
  .bee-sector .bee-about {
    background-position: bottom;
  }
}

@media (max-width: 550px) {
  .bee-sector .bee-benifits .chart-card {
    width: 80%;
  }
}
